.sqlForm{
    

    margin-top: 80px;
    margin-right: 300px ;
    margin-left: 300px ;
    margin-bottom: 40px;
    background-color: maroon;
    padding: 30px;
    color: white;
  


}

.infocard{

    margin-right: 5px;
}